<!-- <link rel="stylesheet" href="./../../../assets/css/buttons.css"> -->
<section class="buttons-section">
    <div class="content-title">
        <h1 class="fw-semibold mb-3">Loaders</h1>
        <div class="linear_grad"></div>
    </div>

    <div class="content d-flex flex-wrap justify-content-center  text-center">

        <!-- LOADER 4 -->
        <div class="items loader4  d-flex justify-content-center align-items-center" style="background: #05091f;">
            <div class="loader4-link scale">
                <svg>
                    <circle cx="30" cy="30" r="30"></circle>
                </svg>
            </div>
        </div>

        <!-- LOADER 1 -->
        <div class="items loader1  d-flex justify-content-center align-items-center" style="background: #fff;">
            <div class="loader1-link scale">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <!-- LOADER 3 -->
        <div class="items loader3  d-flex justify-content-center align-items-center" style="background: indigo;">
            <div class="loader3-link scale">
                <div class="cube1 folding"></div>
                <div class="cube2 folding"></div>
                <div class="cube4 folding"></div>
                <div class="cube3 folding"></div>

            </div>
        </div>

        <!-- LOADER 30 -->
        <div class="items loader30  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader30-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 2 -->
        <div class="items loader2  d-flex justify-content-center align-items-center" style="background: #fff;">
            <div class="loader2-link scale">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>

        <!-- LOADER 18 -->
        <div class="items loader18  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader18-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 5 -->
        <div class="items loader5  d-flex justify-content-center align-items-center" style="background: #fff;">
            <ul class="loader5-link scale">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <!-- LOADER 23 -->
        <div class="items loader23  d-flex justify-content-center align-items-center" style="background:#0e1538 ;">
            <div class="loader23-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 6 -->
        <div class="items loader6  d-flex justify-content-center align-items-center" style="background: #4070f4;">
            <div class="loader6-link scale">
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
                <span style="--i:4;"></span>
                <span style="--i:5;"></span>
                <span style="--i:6;"></span>
                <span style="--i:7;"></span>
                <span style="--i:8;"></span>
                <span style="--i:9;"></span>
                <span style="--i:10;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:13;"></span>
                <span style="--i:14;"></span>
                <span style="--i:15;"></span>
            </div>
        </div>

        <!-- LOADER 7 -->
        <div class="items loader7  d-flex justify-content-center align-items-center" style="background: #000;">
            <div class="loader7-link scale">
                <div class="ring"></div>
                <span>load</span>
            </div>
        </div>

        <!-- LOADER 8 -->
        <div class="items loader8  d-flex justify-content-center align-items-center" style="background: #240f52;">
            <div class="loader8-link scale">
                <div class="outer"></div>
                <div class="inner">
                    <span>0%</span>
                </div>
            </div>
        </div>

        <!-- LOADER 20 -->
        <div class="items loader20  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader20-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 28 -->
        <div class="items loader28  d-flex justify-content-center align-items-center" style="background:#15375a ;">
            <div class="loader28-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 26 -->
        <div class="items loader26  d-flex justify-content-center align-items-center" style="background:#fff ;">
            <div class="loader26-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 31 -->
        <div class="items loader31  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader31-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 9 -->
        <div class="items loader9  d-flex justify-content-center align-items-center" style="background: #0c1b21;">
            <svg>
                <filter id="gooey9">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
                    <feColorMatrix values="
                        1 0 0 0 0
                        0 1 0 0 0
                        0 0 1 0 0
                        0 0 0 6 -3
                    "></feColorMatrix>
                </filter>
            </svg>
            <div class="loader9-link scale">
                <span style="--i:1"></span>
                <span style="--i:2"></span>
                <span style="--i:3"></span>
                <span style="--i:4"></span>
                <span style="--i:5"></span>
                <span style="--i:6"></span>
                <span style="--i:7"></span>
                <span style="--i:8"></span>
                <span class="rotate" style="--j:0"></span>
                <span class="rotate" style="--j:1"></span>
                <span class="rotate" style="--j:2"></span>
                <span class="rotate" style="--j:3"></span>
                <span class="rotate" style="--j:4"></span>
            </div>
        </div>

        <!-- LOADER 10 -->
        <div class="items loader10  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader10-link scale">
                <span style="--i:1"></span>
                <span style="--i:2"></span>
                <span style="--i:3"></span>
                <span style="--i:4"></span>
                <span style="--i:5"></span>
            </div>
        </div>

        <!-- LOADER 11 -->
        <div class="items loader11  d-flex justify-content-center align-items-center" style="background:#0c002b ;">
            <div class="loader11-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 12 -->
        <div class="items loader12  d-flex justify-content-center align-items-center" style="background:#010b10 ;">
            <div class="loader12-link scale">
                <span style="--i:1"></span>
                <span style="--i:2"></span>
                <span style="--i:3"></span>
                <span style="--i:4"></span>
                <span style="--i:5"></span>
                <span style="--i:6"></span>
                <span style="--i:7"></span>
            </div>
            <svg>
                <filter id="gooey12">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
                    <feColorMatrix values="
                        1 0 0 0 0
                        0 1 0 0 0
                        0 0 1 0 0
                        0 0 0 6 -3
                    "></feColorMatrix>
                </filter>
            </svg>
        </div>

        <!-- LOADER 13 -->
        <div class="items loader13  d-flex justify-content-center align-items-center" style="background:#102626 ;">
            <div class="loader13-link scale">
                <div class="loader">
                    <span></span>
                </div>
            </div>
        </div>

        <!-- LOADER 14 -->
        <div class="items loader14  d-flex justify-content-center align-items-center" style="background:#262626 ;">
            <div class="loader14-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 15 -->
        <div class="items loader15  d-flex justify-content-center align-items-center" style="background:#031321 ;">
            <div class="loader15-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 16 -->
        <div class="items loader16  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader16-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 17 -->
        <div class="items loader17  d-flex justify-content-center align-items-center"
            style="background:linear-gradient(-30deg, #a6a6a6, transparent) ;">
            <div class="loader17-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 19 -->
        <div class="items loader19  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader19-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 21 -->
        <div class="items loader21  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader21-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 22 -->
        <div class="items loader22  d-flex justify-content-center align-items-center" style="background:#fff ;">
            <div class="loader22-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 25 -->
        <div class="items loader25  d-flex justify-content-center align-items-center" style="background:#031321 ;">
            <div class="loader25-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 27 -->
        <div class="items loader27  d-flex justify-content-center align-items-center" style="background:#040d15 ;">
            <div class="loader27-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 29 -->
        <div class="items loader29  d-flex justify-content-center align-items-center" style="background:#0e1538 ;">
            <div class="loader29-link scale">
                <span class="loader">Loading</span>
            </div>
        </div>

        <!-- LOADER 32 -->
        <div class="items loader32  d-flex justify-content-center align-items-center" style="background:#111 ;">
            <div class="loader32-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 24 -->
        <div class="items loader24  d-flex justify-content-center align-items-center" style="background:#0c1b3b ;">
            <div class="loader24-link scale">
                <span class="loader"></span>
            </div>
        </div>

        <!-- LOADER 33 -->
        <div class="items loader33  d-flex justify-content-center align-items-center" style="background:#fff ;">
            <div class="loader33-link scale sc5">
                <div class="card">
                    <div class="header">
                        <div class="img"></div>
                        <div class="details">
                            <span class="name"></span>
                            <span class="about"></span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>
                    <div class="btns">
                        <div class="btn btn-1"></div>
                        <div class="btn btn-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOADER 34 -->
        <div class="items loader34  d-flex justify-content-center align-items-center" style="background:#414247 ;">
            <div class="loader34-link scale sc5">
                <div class="card">
                    <div class="header">
                        <div class="img"></div>
                        <div class="details">
                            <span class="name"></span>
                            <span class="about"></span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>
                    <div class="btns">
                        <div class="btn btn-1"></div>
                        <div class="btn btn-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOADER 35 -->
        <div class="items loader35  d-flex justify-content-center align-items-center" style="background:#011015 ;">
            <div class="loader35-link scale">
                <div class="ring"></div>
                <div class="ring"></div>
                <div class="ring"></div>
            </div>
        </div>

        <!-- LOADER 36 -->
        <div class="items loader36  d-flex justify-content-center align-items-center" style="background:#fff ;">
            <div class="loader36-link scale">
                <div class="loading">
                    <div class="percent">100%</div>
                    <div class="progress-bar">
                        <div class="progress"></div>
                    </div>
                    <label class="text">Completed!</label>
                </div>
            </div>
        </div>

    </div>
</section>