<section class="cards-section">
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <h1 class="fw-semibold mb-3">Navbars</h1>
        <div class="linear_grad"></div>
    </div>

    <div class="content d-flex px-4 flex-wrap justify-content-between  text-center" style="gap: 20px;">

        <!-- NAVBAR 1 -->
        <div class="items-navbar navbar1" style="background: transparent;">
            <nav>
                <div class="logo">CodingFront</div>
                <div>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Gallery</a>
                    <a href="#">Contact</a>
                </div>
            </nav>
        </div>

        <!-- NAVBAR 2 -->
        <div class="items-navbar navbar2" style="background: transparent;">
            <nav>
                <div class="logo">CodingFront</div>
                <div>
                    <a href="#">Home</a>
                    <a href="#">Services</a>
                    <a href="#">Products</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                </div>
            </nav>
        </div>

        <!-- NAVBAR 3 -->
        <div class="items-navbar navbar3" style="background: transparent;">
            <nav>
                <div class="logo">CodingFront</div>
                <div class="w-100">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Projects</a>
                    <a href="#">Contact</a>
                </div>
                <div class="user">
                    <i class="fa-solid fa-circle-user"></i>
                </div>
            </nav>
        </div>

    </div>
</section>