<section class="buttons-section">
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <h1 class="fw-semibold mb-3">Buttons</h1>
        <div class="linear_grad"></div>
    </div>

    <div class="content d-flex flex-wrap justify-content-center  text-center" style="gap: 20px;" >

        <!-- BUTTON 1 -->
        <div class="items button1  d-flex justify-content-center align-items-center" style="background: #0c002b;">
            <a class="button1-link text-uppercase fs-4 px-4 py-2 ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Button
            </a>
        </div>

        <!-- BUTTON 2 -->
        <div class="items button2  d-flex justify-content-center align-items-center" style="background: #031321;">
            <a class="button2-link text-uppercase w-75 fs-4 px-4 py-2 ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Button
            </a>
        </div>

        <!-- BUTTON 3 -->
        <div class="items button3 position-relative d-flex justify-content-center align-items-center" style="background: #262626;">
            <a class="button3-link text-uppercase fs-4 px-4 py-2 ">
                <span class="front">Click</span>
                <span class="center"></span>
                <span class="back">Aqui</span>
            </a>
        </div>

        <!-- BUTTON 4 -->
        <div class="items button4 position-relative  d-flex justify-content-center align-items-center" style="background: #0c1b3b;">
            <a class="button4-link text-uppercase fs-4 px-4 py-2 ">
                Button
            </a>
        </div>

        <!-- BUTTON 5 -->
        <div class="items button5 position-relative z-1 d-flex justify-content-center align-items-center" style="background: #262626;">
            <div class="center">
                <a class="button5-link  text-uppercase fs-4 px-4 py-2 ">
                    <span></span>
                    Button
                </a>
            </div>
        </div>

        <!-- BUTTON 6 -->
        <div class="items button6 d-flex justify-content-center align-items-center" style="background: linear-gradient(-30deg, #1ec4e9, #673ab7);">
                <a class="button6-link w-75  text-uppercase fs-4 px-4 py-2 ">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Button
                </a>
        </div>

        <!-- BUTTON 7 -->
        <div class="items button7 position-relative d-flex justify-content-center align-items-center" style="background: #fff">
            <a class="button7-link text-uppercase fs-4 px-4 py-2 ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Button
            </a>
        </div>

         <!-- BUTTON 8 -->
         <div class="items button8 position-relative d-flex justify-content-center align-items-center" style="background: #040d15">
            <a id="btn8" class="button8-link text-uppercase fs-4 px-4 py-2 ">
                Button
            </a>
        </div>

        <!-- BUTTON 9 -->
        <div class="items button9 d-flex justify-content-center align-items-center" style="background: #000">
            <a class="button9-link text-uppercase w-75 fs-4 px-4 py-2 ">
                <span>Button</span>
            </a>
        </div>



    </div>
</section>


<script>
    const button8 = document.getElementById('btn8')
    button8.forEach(btn => {
        btn.addEventListener('mouseenter', function(e){
            let x = e.clientX - e.target.offsetLeft
            let y = e.clientY - e.target.offsetTop

            let ripples = document.createElement('span')
            ripples.style.left = x + 'px'
            ripples.style.top = y + 'px'

            this.appendChild(ripples)

            setTimeout(()=>{
                ripples.remove()
            }, 1000)
        })
    })
</script>
