<section>
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <h1 class="fw-semibold mb-3">Buttons</h1>
        <div class="w-25 linear_grad" style="height: 2px;"></div>
    </div>

    <div class="content d-flex flex-wrap justify-content-center  text-center">

        <!-- BUTTON 1 -->
        <div class="items button1  d-flex justify-content-center align-items-center" style="background: #0c002b;">
            <a class="button1-link text-uppercase fs-4 px-4 py-2 ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Button
            </a>
        </div>

        <!-- BUTTON 2 -->
        <div class="items button2  d-flex justify-content-center align-items-center" style="background: #031321;">
            <a class="button2-link text-uppercase w-75 fs-4 px-4 py-2 ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Button
            </a>
        </div>

        <!-- BUTTON 3 -->
        <div class="items button3 position-relative d-flex justify-content-center align-items-center" style="background: #262626;">
            <a class="button3-link text-uppercase fs-4 px-4 py-2 ">
                <span class="front">Click</span>
                <span class="center"></span>
                <span class="back">Aqui</span>
            </a>
        </div>

        <!-- BUTTON 4 -->
        <div class="items button4 position-relative  d-flex justify-content-center align-items-center" style="background: #0c1b3b;">
            <a href="" class="button4-link text-uppercase fs-4 px-4 py-2 ">
                Button
            </a>
        </div>

    </div>
</section>
