<section class="cards-section">
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <h1 class="fw-semibold mb-3">Accordions</h1>
        <div class="linear_grad"></div>
    </div>

    <div class="content d-flex px-4 flex-wrap justify-content-between  text-center" style="gap: 20px;">

        <!-- ACCORDION 1 -->
        <div class="items-accord accordion1" style="background: #fff;">
            <ul class="accordion">
                <li>
                    <input type="radio" name="accordion" id="first" checked>
                    <label for="first">Products</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="second">
                    <label for="second">Information</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="third">
                    <label for="third">Questions</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="four">
                    <label for="four">Guides</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- ACCORDION 2 -->
        <div class="items-accord accordion2" style="background: transparent;">
            <div class="container">
                <div class="tab">
                    <input type="radio" name="acc" id="acc1">
                    <label for="acc1">
                        <h2>01</h2>
                        <h3>How do I apply?</h3>
                    </label>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam aut repudiandae vitae,
                            laudantium tempora dolore aperiam corporis? Perferendis iusto, vero dolor molestiae
                            reprehenderit id! Commodi dolore corrupti laboriosam deleniti?
                        </p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="acc" id="acc2">
                    <label for="acc2">
                        <h2>02</h2>
                        <h3>Lost or forgotten your password?</h3>
                    </label>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam aut repudiandae vitae,
                            laudantium tempora dolore aperiam corporis? Perferendis iusto, vero dolor molestiae
                            reprehenderit id! Commodi dolore corrupti laboriosam deleniti?
                        </p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="acc" id="acc3">
                    <label for="acc3">
                        <h2>03</h2>
                        <h3>How can I make a change to my application?</h3>
                    </label>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam aut repudiandae vitae,
                            laudantium tempora dolore aperiam corporis? Perferendis iusto, vero dolor molestiae
                            reprehenderit id! Commodi dolore corrupti laboriosam deleniti?
                        </p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="acc" id="acc4">
                    <label for="acc4">
                        <h2>04</h2>
                        <h3>How can I update my name?</h3>
                    </label>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam aut repudiandae vitae,
                            laudantium tempora dolore aperiam corporis? Perferendis iusto, vero dolor molestiae
                            reprehenderit id! Commodi dolore corrupti laboriosam deleniti?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>