.linear_grad {
  background: linear-gradient(90deg, transparent, #11101d, transparent);
  height: 2px;
  width: 400px;
}

.items-accord {
  padding: 40px;
  height: 100%;
  width: 32%;
  border-radius: 30px;
  text-align: start;
}

.items-vert {
  width: 49% !important;
}

.container {
  padding: 0;
}

@media (max-width: 1500px) {
  .items-accord {
    width: 800px;
    margin: auto;
  }
}

@media (max-width: 1000px) {
  .items-accord {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .linear_grad {
    width: 250px;
  }
}

/* ------------ ACCORDION 1 ---------------*/

.accordion1 .accordion {
  width: 100%;
}

.accordion1 .accordion {
  width: 100%;
  padding: 0;
}

.accordion1 .accordion li {
  list-style: none;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.15);
}

.accordion1 .accordion li label {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.accordion1 label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 400;
}

.accordion1 input[type="radio"] {
  display: none;
}

.accordion1 .content {
  color: #555;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion1 .content p {
  margin-bottom: 0;
  font-size: 15px;
}

.accordion1 input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px;
}

.accordion1 input[type="radio"]:checked + label::before {
  content: "-";
}

/* ------------ ACCORDION 2 ---------------*/

.accordion2 .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accordion2 .container .tab {
  position: relative;
  background: #fff;
  padding: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: .5rem;
}

.accordion2 .container .tab .content p {
  margin-bottom: 0;
}

.accordion2 .container .tab input {
  display: none;
}

.accordion2 .container .tab label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordion2 .container .tab label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.1);
  transition: all .5s;
}

.accordion2 .container .tab:hover label::after {
  color: #333;
}

.accordion2 .container .tab input:checked ~ label::after {
  transform: rotate(135deg);
  color: #333;
  z-index: 11;
}

.accordion2 .container .tab label h2 {
  width: 40px;
  height: 40px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 0;
}

.accordion2 .container .tab:nth-child(1) label h2 {
  background: linear-gradient(135deg, #70f570, #49c628);
}

.accordion2 .container .tab:nth-child(2) label h2 {
  background: linear-gradient(135deg, #3c8ce7, #00eaff);
}

.accordion2 .container .tab:nth-child(3) label h2 {
  background: linear-gradient(135deg, #ff96f9, #c32bac);
}

.accordion2 .container .tab:nth-child(4) label h2 {
  background: linear-gradient(135deg, #fd6e6a, #ffc600);
}

.accordion2 .container .tab label h3 {
  width: 250px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  z-index: 10;
  position: relative;
  margin-bottom: 0;
}

.accordion2 .container .tab .content {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.accordion2 .container .tab input:checked ~ .content {
  max-height: 300px;
}

.accordion2 .container .tab .content p {
  position: relative;
  padding: 15px 15px 10px 15px;
  color: #333;
  z-index: 10;
}

.accordion2 .container .tab input:checked ~ label h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.2);
  font-size: 8em;
  justify-content: flex-end;
  padding: 20px;
  font-weight: 700;
}

.accordion2 .container .tab input:checked ~ .content p{
  color: #fff;
}
.accordion2 .container .tab input:checked ~ label h3 {
  width: 100%;
  background-color: #fff;
  border-radius: .5rem;
  padding: .3rem 1rem;
}


/* ------------ ACCORDION 3 ---------------*/

.accordion3 .accordion .accordion-content{
  margin: 10px 0;
  border-radius: 4px;
  background: #FFF7F0;
  border: 1px solid #FFD6B3;
  overflow: hidden;
}
.accordion3 .accordion-content:nth-child(2){
  background-color: #F0FAFF;
  border-color: #CCEEFF;
}
.accordion3 .accordion-content:nth-child(3){
  background-color: #FFF0F3;
  border-color: #FFCCD6;
}
.accordion3 .accordion-content:nth-child(4){
  background-color: #F0F0FF;
  border-color: #CCCCFF;
}
.accordion3 .accordion-content.open{
  padding-bottom: 10px;
}
.accordion3 .accordion-content header{
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.accordion3 .accordion-content.open header{
  min-height: 35px;
}
.accordion3 .accordion-content header .title{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.accordion3 .accordion-content header i{
  font-size: 15px;
  color: #333;
}
.accordion3 .accordion-content .description{
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
  margin-bottom: 0;
}
