<section class="cards-section">
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <h1 class="fw-semibold mb-3">Accordions</h1>
        <div class="linear_grad"></div>
    </div>

    <div class="content d-flex px-4 flex-wrap justify-content-between  text-center" style="gap: 20px;">

        <!-- ACCORDION 1 -->
        <div class="items-accord accordion1" style="background: #fff;">
            <ul class="accordion">
                <li>
                    <input type="radio" name="accordion" id="first" checked>
                    <label for="first">Products</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="second">
                    <label for="second">Information</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="third">
                    <label for="third">Questions</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="four">
                    <label for="four">Guides</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>