<section class="cards-section">
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <h1 class="fw-semibold mb-3">Accordions</h1>
        <div class="linear_grad"></div>
    </div>

    <div class="content d-flex px-4 flex-wrap justify-content-between  text-center" style="gap: 20px;">

        <!-- ACCORDION 1 -->
        <div class="items-accord accordion1" style="background: #fff;">
            <ul class="accordion">
                <li>
                    <input type="radio" name="accordion" id="first" checked>
                    <label for="first">Products</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="second">
                    <label for="second">Information</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="third">
                    <label for="third">Questions</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="four">
                    <label for="four">Guides</label>
                    <div class="content">
                        <p class="mb-0">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto accusantium odit nisi
                            voluptatibus! Atque vitae provident cupiditate! Quis ex mollitia vero? Laboriosam
                            necessitatibus laborum veritatis laudantium est quae sunt.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- ACCORDION 2 -->
        <div class="items-accord accordion2" style="background: #0c2045;">
            <div class="container">
                <div class="tab">
                    <input type="radio" name="acc" id="acc1">
                    <label for="acc1">
                        <h2>01</h2>
                        <h3>How do I apply?</h3>
                    </label>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam aut repudiandae vitae,
                            laudantium tempora dolore aperiam corporis? Perferendis iusto, vero dolor molestiae
                            reprehenderit id! Commodi dolore corrupti laboriosam deleniti?
                        </p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="acc" id="acc2">
                    <label for="acc2">
                        <h2>02</h2>
                        <h3>Lost or forgotten your password?</h3>
                    </label>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam aut repudiandae vitae,
                            laudantium tempora dolore aperiam corporis? Perferendis iusto, vero dolor molestiae
                            reprehenderit id! Commodi dolore corrupti laboriosam deleniti?
                        </p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="acc" id="acc3">
                    <label for="acc3">
                        <h2>03</h2>
                        <h3>How can I make a change to my application?</h3>
                    </label>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam aut repudiandae vitae,
                            laudantium tempora dolore aperiam corporis? Perferendis iusto, vero dolor molestiae
                            reprehenderit id! Commodi dolore corrupti laboriosam deleniti?
                        </p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="acc" id="acc4">
                    <label for="acc4">
                        <h2>04</h2>
                        <h3>How can I update my name?</h3>
                    </label>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam aut repudiandae vitae,
                            laudantium tempora dolore aperiam corporis? Perferendis iusto, vero dolor molestiae
                            reprehenderit id! Commodi dolore corrupti laboriosam deleniti?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ACCORDION 3 -->
        <div class="items-accord accordion3" style="background: #fff;">
            <div class="accordion">
                <div class="accordion-content">
                    <header>
                        <span class="title">What do you mean by Accordion?</span>
                        <i class="fa-solid fa-plus"></i>
                    </header>
                    <p class="description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
                    </p>
                </div>
                <div class="accordion-content">
                    <header>
                        <span class="title">What do you mean by Accordion?</span>
                        <i class="fa-solid fa-plus"></i>
                    </header>
                    <p class="description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
                    </p>
                </div>
                <div class="accordion-content">
                    <header>
                        <span class="title">What do you mean by Accordion?</span>
                        <i class="fa-solid fa-plus"></i>
                    </header>
                    <p class="description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto neque, sed inventore illum ut quis ducimus deleniti temporibus maiores? At nisi sed pariatur cupiditate quidem quod adipisci aut, eos quis minima voluptates non veniam ipsam quasi architecto ducimus error eum id ab, suscipit doloribus, ut accusantium consequuntur voluptate! Unde, hic sed rerum officia totam id libero officiis nihil rem sequi porro labore praesentium repudiandae a blanditiis molestias nisi beatae natus! Ea, ut voluptates, natus harum nesciunt odio hic eveniet reprehenderit veritatis, possimus tempora magni soluta eaque quidem neque maxime nostrum sapiente commodi? Earum ex cumque cupiditate dicta, tempora temporibus quaerat.
                    </p>
                </div>
                <div class="accordion-content">
                    <header>
                        <span class="title">What do you mean by Accordion?</span>
                        <i class="fa-solid fa-plus"></i>
                    </header>
                    <p class="description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>