<section class="form-section">
    <div class="content-title">
        <h1 class="fw-semibold mb-3">Forms</h1>
        <div class="linear_grad"></div>
    </div>

    <div class="content d-flex flex-wrap justify-content-between  text-center">

        <!-- FORM 1 -->
        <div class="items-forms form1 d-flex justify-content-center align-items-center bg-trans" style="background: #131313;">
            <div class="card-container scale">

                <div class="front">
                    <div class="image">
                        <img src="../../../assets/img/chip2.png" alt="">
                        <img src="../../../assets/img/visa2.png" alt="">
                    </div>
                    <div class="card-number-box">**** **** **** ****</div>
                    <div class="flexbox">
                        <div class="box">
                            <span>card holder</span>
                            <div class="card-holder-name">full name</div>
                        </div>
                        <div class="box">
                            <span>expires</span>
                            <div class="expiration">
                                <span class="exp-month">mm</span>
                                <span> - </span>
                                <span class="exp-year">yy</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="stripe"></div>
                    <div class="box">
                        <span>cvv</span>
                        <div class="cvv-box"></div>
                        <img src="image/visa.png" alt="">
                    </div>
                </div>

            </div>

            <form action="">
                <div class=" d-flex gap-3 flex-column flex-md-column">
                    <div class="inputBox w-100 w-md-50">
                        <span>card number</span>
                        <input type="text" maxlength="19" class="card-number-input"
                            onkeypress="return SoloNumbers(event)">
                    </div>
                    <div class="inputBox w-100 w-md-50">
                        <span>card holder</span>
                        <input type="text" class="card-holder-input">
                    </div>
                </div>
                <div class="flexbox">
                    <div class="inputBox mt-3">
                        <span>expiration mm</span>
                        <select name="" id="" class="month-input">
                            <option value="month" selected disabled>month</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="inputBox">
                        <span>expiration yy</span>
                        <select name="" id="" class="year-input">
                            <option value="year" selected disabled>year</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                        </select>
                    </div>
                    <div class="inputBox">
                        <span>cvv</span>
                        <input type="text" maxlength="4" class="cvv-input" onkeypress="return SoloNumbers(event)">
                    </div>
                </div>
                <input type="submit" value="submit" class="submit-btn">
            </form>
        </div>

        <!-- FORM 2 -->
        <div class="items-forms form2 d-flex justify-content-center align-items-center"
            style="background: linear-gradient(to bottom, #f1f4f9, #dff1ff)">

            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="box">
                <div class="square" style="--i:0"></div>
                <div class="square" style="--i:1"></div>
                <div class="square" style="--i:2"></div>
                <div class="square" style="--i:3"></div>
                <div class="square" style="--i:4"></div>
                <div class="container">
                    <div class="form">
                        <h2>Login Form</h2>
                        <form action="">
                            <div class="inputBox">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="inputBox">
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="inputBox">
                                <input type="submit" value="Login">
                            </div>
                            <p class="forget">Forgot password? <a href="#">Click here</a></p>
                            <p class="forget">Don't have an account? <a href="#">Sign up</a></p>
                        </form>
                    </div>
                </div>
            </div>

        </div>


        <!-- FORM 3 -->
        <div class="items-forms form3 d-flex justify-content-center align-items-center"
            style="background: transparent">
            <div class="container">
                <div class="signin-signup">
                    <form action="" class="sign-in-form">
                        <h2 class="title">Sign in</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Username">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <input type="submit" value="Login" class="btn">
                        <p class="social-text">Or Sign in with social platform</p>
                        <div class="social-media">
                            <a href="#" class="social-icon">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="" class="social-icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="" class="social-icon">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="" class="social-icon">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                        <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
                    </form>
                    <form action="" class="sign-up-form">
                        <h2 class="title">Sign up</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Username">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <input type="submit" value="Sign up" class="btn">
                        <p class="social-text">Or Sign in with social platform</p>
                        <div class="social-media">
                            <a href="#" class="social-icon">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="" class="social-icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="" class="social-icon">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="" class="social-icon">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                        <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
                    </form>
                </div>
                <div class="panels-container">
                    <div class="panel left-panel">
                        <div class="content">
                            <h3>Member of Brand?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos
                                incidunt minima iure?</p>
                            <button class="btn" id="sign-in-btn">Sign in</button>
                        </div>
                        <img src="../../../assets/img/signin.svg" alt="" class="image">
                    </div>
                    <div class="panel right-panel">
                        <div class="content">
                            <h3>New to Brand?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos
                                incidunt minima iure?</p>
                            <button class="btn" id="sign-up-btn">Sign up</button>
                        </div>
                        <img src="../../../assets/img/signup.svg" alt="" class="image">
                    </div>
                </div>
            </div>
        </div>


        <!-- FORM 4 -->
        <div class="items-forms form4 d-flex justify-content-center align-items-center"
            style="background: linear-gradient(to bottom, #302b63, #0f0c29 )">

            <div class="main">
                <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form action="">
                        <label for="chk" aria-hidden="true">Sign up</label>
                        <input type="text" name="txt" placeholder="User name" required="">
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <button>Sign up</button>
                    </form>
                </div>

                <div class="login">
                    <form action="">
                        <label for="chk" aria-hidden="true">Login</label>
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <button>Login</button>
                    </form>
                </div>
            </div>
        </div>


        <!-- FORM 5 -->
        <div class="items-forms form5 d-flex justify-content-center align-items-center"
            style="background: url(../../../assets/img/gafas.webp) no-repeat bottom / cover">
            <div class="container">
                <h2>Login</h2>
                <form action="">
                    <div class="user-box">
                        <input type="email" name="username" required>
                        <label>Username</label>
                    </div>
                    <div class="user-box">
                        <input type="Password" name="Password" required>
                        <label>Password</label>
                    </div>
                    <span>
                        <input type="checkbox" id="chk1">
                        <label for="chk1">Login</label>
                    </span>
                    <div class=" d-flex justify-content-between">
                        <a href="#">Forget password?</a>
                        <a href="#">Sign up</a>
                    </div>
                </form>
            </div>
        </div>


        <!-- FORM 6 -->
        <div class="items-forms form6 d-flex justify-content-center align-items-center"
            style="background: #fff">
            <div class="container" id="main">
                <div class="sign-up">
                    <form action="#">
                        <h1>Create Account</h1>
                        <div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <p>or use your email for registration</p>
                        <input type="text" name="txt" placeholder="Name" required="">
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <button>Sign Up</button>
                    </form>
                </div>
                <div class="sign-in">
                    <form action="#">
                        <h1>Sign in</h1>
                        <div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <p>or use your account</p>
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <a href="#">Forget your Password?</a>
                        <button>Sign In</button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-left">
                            <h1>Wellcome Back!</h1>
                            <p>To keep connected with us please login with your personal info</p>
                            <button id="signIn">Sign In</button>
                        </div>
                        <div class="overlay-right">
                            <h1>Hello, Friend</h1>
                            <p>Enter your personal details and start journey with us</p>
                            <button id="signUp">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>