.linear_grad{
    background: linear-gradient(90deg, transparent, #11101D, transparent);
    height: 2px; 
    width: 400px;
}

.items-forms{
    padding: 40px;
    height: 550px;
    width: 49%;
    border-radius: 30px;
}

.container{
    padding: 0;
}

@media (max-width: 1500px){
    .items-forms{
        width: 800px;
        margin: auto;
    }
}

@media (max-width: 1000px){
    .items-forms{
        width: 100%;
    }
}

@media (max-width: 650px){
    .linear_grad{
        width: 250px;
    }
}

.scale{
    scale: .95 !important;
  }

/* ------------ FORM 1 ---------------*/

.form1{
    height: auto;
    flex-flow: column;
    padding-bottom: 60px;
    text-transform: uppercase;
}

.form1 form{
    background: #232323;
    border-radius: 1.5rem;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 3rem;
    width: 600px;
    padding-top: 160px;
}

.form1 form .inputBox{
    margin-top: 20px;
}

.form1 form .inputBox span{
    display: block;
    color:#fff;
    padding-bottom: 5px;
}

.form1 form .inputBox input,
.form1 form .inputBox select{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background: #303030;
    outline: none;
}

.form1 form .inputBox input{
    text-transform: none !important;
}

.form1 form .flexbox{
    display: flex;
    gap:15px;
}

.form1 form .flexbox .inputBox{
    flex:1 1 150px;
}

.form1 form .submit-btn{
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    border: none;
    text-transform: uppercase;
}


.form1 .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.form1 .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 1.5rem;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.form1 .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.form1 .card-container .front .image img{
    height: 50px;
}

.form1 .card-container .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
    height: 100px;
}

.form1 .card-container .front .flexbox{
    display: flex;
}

.form1 .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.form1 .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.form1 .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 1.5rem;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.form1 .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.form1 .card-container .back .box{
    padding: 0 20px;
}

.form1 .card-container .back .box span{
    color:#fff;
    font-size: 15px;
}

.form1 .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.form1 .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}