<!-- <link rel="stylesheet" href="./../../../assets/css/buttons.css"> -->
<section class="cards-section">
   <div class="d-flex flex-column justify-content-center align-items-center mb-5">
      <h1 class="fw-semibold mb-3">Cards</h1>
      <div class="linear_grad"></div>
   </div>

   <div class="content d-flex px-4 flex-wrap justify-content-between  text-center" style="gap: 20px;">


      <!-- CARD 3 -->
      <div class="items-card card3 d-flex justify-content-center align-items-center" style="background: #fff;">
         <div class="container scale">
            <div class="cover-photo">
               <img src="../../../assets/img/ñññ1.jpg" class="profile">
            </div>
            <div class="profile-name">Cristian Rojas</div>
            <p class="about">Designer Ux and <br> Full Stack Developer</p>
            <button class="msg-btn">Message</button>
            <button class="follow-btn">Following</button>
            <div>
               <i class="fab fa-facebook-f"></i>
               <i class="fab fa-instagram"></i>
               <i class="fab fa-youtube"></i>
               <i class="fab fa-github"></i>
            </div>
         </div>
      </div>

      <!-- CARD 6 -->
      <div class="items-card card6 d-flex justify-content-center align-items-center"
         style="background-image: url(../../../assets/img/back.jpg);">
         <div class="profile-card scale">
            <div class="image">
               <img src="../../../assets/img/profile.jpg" alt="" class="profile-pic">
            </div>
            <div class="data">
               <h2>Olivia Gomez</h2>
               <span>Developer & Designer</span>
            </div>
            <div class="row">
               <div class="info">
                  <h3>Following</h3>
                  <span>120</span>
               </div>
               <div class="info">
                  <h3>Posts</h3>
                  <span>209</span>
               </div>
               <div class="info">
                  <h3>Followers</h3>
                  <span>5000</span>
               </div>

            </div>
            <div class="buttons">
               <a href="#" class="btn">Message</a>
               <a href="#" class="btn">Follow Me</a>
            </div>
         </div>
      </div>

      <!-- CARD 4 -->
      <div class="items-card card4 d-flex justify-content-center align-items-center" style="background: #fff;">
         <div class="center">
            <div class="front-face">
               <div class="contents front">
                  <p>
                     Cristian Rojas
                  </p>
                  <span>Full Stack Developer</span>
               </div>
            </div>
            <div class="back-face">
               <div class="contents back">
                  <h2>
                     Designer Ux
                  </h2>

                  <div class="icons">
                     <i class="fab fa-facebook-f"></i>
                     <i class="fab fa-twitter"></i>
                     <i class="fab fa-instagram"></i>
                     <i class="fab fa-linkedin-in"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- CARD 5 -->
      <div class="items-card card5 d-flex justify-content-center align-items-center" style="background: #131313;">
         <div class="container scale">
            <div class="box">
               <h2 class="name">Product Name</h2>
               <a href="#" class="buy">Buy Now</a>
               <div class="circle"></div>
               <img src="../../../assets/img/shoes1.png" alt="" class="product">
            </div>
         </div>
      </div>

      <!-- CARD 1 -->
      <div class="items-card card1  d-flex justify-content-center align-items-center" style="background: #fff;">
         <div class="container scale">
            <div class="wrapper">

               <img src="./../../../assets/img/ñññ1.jpg" alt="">

               <div class="title">
                  Cristian Rojas
               </div>
               <div class="place">
                  Villavicencio, Colombia
               </div>
            </div>
            <div class="content">
               <p>
                  Designer Ux and <br> Full Stack Developer
               </p>
               <div class="buttons">
                  <div class="btns">
                     <button>Message</button>
                  </div>
                  <div class="btns">
                     <button>Following</button>
                  </div>
               </div>
            </div>
            <div class="icons">
               <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
               <li><a href="#"><span class="fab fa-twitter"></span></a></li>
               <li><a href="#"><span class="fab fa-instagram"></span></a></li>
            </div>
         </div>
      </div>

      <!-- CARD 2 -->
      <div class="items-card card2  d-flex justify-content-center align-items-center" style="background: #fff;">
         <div class="container scale">
            <div class="image">
               <img src="../../../assets/img/ñññ.jpg">
            </div>
            <div class="content">
               <div class="info">
                  <h2>
                     Cristian Rojas
                  </h2>
                  <span>Full Stack Developer</span>
               </div>
            </div>
            <ul>
               <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
               <li><a href="#"><span class="fab fa-twitter"></span></a></li>
               <li><a href="#"><span class="fab fa-instagram"></span></a></li>
               <li><a href="#"><span class="fab fa-github"></span></a></li>
               <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
         </div>
      </div>

      <!-- CARD 7 -->
      <div class="items-card items-vert card7 d-flex justify-content-center align-items-center"
         style="background: #121321;">
         <div class="container scale">
            <div class="card front-face">
               <header>
                  <span class="logo">
                     <img src="../../../assets/img/logo.png" alt="" />
                     <h5>Master Card</h5>
                  </span>
                  <img src="../../../assets/img/chip.png" alt="" class="chip" />
               </header>
               <div class="card-details">
                  <div class="name-number">
                     <h6>Card Number</h6>
                     <h5 class="number">8050 2030 3020 5040</h5>
                     <h5 class="name">Cristian Rojas</h5>
                  </div>
                  <div class="valid-date">
                     <h6>Valid Thru</h6>
                     <h5>05/28</h5>
                  </div>
               </div>
            </div>
            <div class="card back-face">
               <h6>
                  For customer service call +977 4343 3433 or email at
                  mastercard@gmail.com
               </h6>
               <span class="magnetic-strip"></span>
               <div class="signature"><i>672</i></div>
               <h5>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
                  maiores sed doloremque nesciunt neque beatae voluptatibus doloribus.
                  Libero et quis magni magnam nihil temporibus? Facere consectetur
                  dolore reiciendis et veniam.
               </h5>
            </div>
         </div>
      </div>

      <!-- CARD 8 -->
      <div class="items-card items-vert card8 d-flex justify-content-center align-items-center"
         style="background: #121321;">
         <div class="card scale">
            <div class="card-inner">
               <div class="front">
                  <img src="../../../assets/img/map.png" alt="" class="map-img">
                  <div class="imgs">
                     <img src="../../../assets/img/chip.png" alt="" width="60px">
                     <img src="../../../assets/img/visa.png" alt="" width="80px">
                  </div>
                  <div class="row justify-content-between card-no">
                     <p>5244</p>
                     <p>2150</p>
                     <p>8252</p>
                     <p>6420</p>
                  </div>
                  <div class="row justify-content-between card-holder">
                     <p>CARD HOLDER</p>
                     <p>VALID TILL</p>
                  </div>
                  <div class="row justify-content-between name">
                     <p>CRISTIAN ROJAS</p>
                     <P>10 / 25</P>
                  </div>
               </div>
               <div class="back">
                  <img src="../../../assets/img/map.png" alt="" class="map-img">
                  <div class="bar"></div>
                  <div class="card-cvv">
                     <div>
                        <img src="../../../assets/img/pattern.png" alt="">
                        <p>824</p>
                     </div>
                  </div>
                  <div class="row text-start parr">
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
                        maiores sed doloremque nesciunt neque beatae voluptatibus doloribus.
                        Libero et quis magni magnam nihil temporibus? Facere consectetur
                        dolore reiciendis et veniam.</p>
                  </div>
                  <div class="imgs signature align-items-end">
                     <p class="mb-0">CUSTOMER SIGNATURE</p>
                     <img src="../../../assets/img/visa.png" alt="" width="80px">
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- CARD 9 -->
      <div class="items-card card9 d-flex justify-content-center align-items-center" style="background: #fff;">
         <div class="card scale">
            <div class="content">
               <h2>Something awesome</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic culpa nemo laboriosam autem nihil.</p>
               <button>Learn More</button>
            </div>
         </div>
      </div>

      <!-- CARD 10 -->
      <div class="items-card card10 d-flex justify-content-center align-items-center" style="background: #fff;">
         <div class="card scale">
            <div class="imgBx">
               <img src="../../../assets/img/ñññ.jpg" alt="">
            </div>
            <div class="content">
               <div class="contentBx">
                  <h3>Cristian Rojas <br> <span>Full Stack Developer</span></h3>
               </div>
               <ul class="sci">
                  <li style="--i:1"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                  <li style="--i:2"><a href=""><i class="fab fa-twitter"></i></a></li>
                  <li style="--i:3"><a href=""><i class="fab fa-instagram"></i></a></li>
               </ul>
            </div>
         </div>
      </div>

      <!-- CARD 11 -->
      <div class="items-card card11 d-flex justify-content-center align-items-center" style="background: #131313;">
         <div class="card scale">
            <div class="imgBx">
               <img src="../../../assets/img/shoes1.png" alt="">
            </div>
            <div class="contentBx">
               <h2>Nike Shoes</h2>
               <div class="size">
                  <h3>Size :</h3>
                  <span>7</span>
                  <span>8</span>
                  <span>9</span>
                  <span>10</span>
               </div>
               <div class="color">
                  <h3>Color :</h3>
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
               <a href="">Buy Now</a>
            </div>
         </div>
      </div>


   </div>
</section>